*{
    box-sizing: border-box;
}

body{
    
    margin: 0;
    padding: 0;
}

.foto{
    display: flex;
    justify-content: center;
    align-items: center;
   
    height: 300px;
}

.texto{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(73, 82, 136);
    height: 300px;
}

footer{
    
    background-color: rgb(0, 0, 0);
    color: rgb(87, 106, 131);
    text-align: center;
    
}